<mat-card class="mat-elevation-z0">
  <div fxLayout="column" fxLayoutAlign="center center" class="full-width full-height">
    <mat-card-title>
      <span>Invite Member</span>
    </mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="full-width full-height">
      <div fxLayout="column">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Name" />
          <mat-error>
            {{ 'validation.fieldRequired' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" />
          <mat-error>
            {{ 'validation.fieldRequired' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <input matInput formControlName="role" placeholder="Role" />
          <mat-error>
            {{ 'validation.fieldRequired' | translate }}
          </mat-error>
        </mat-form-field>
        <div fxLayoutAlign="end start" fxLayout="row" fxLayoutGap="20px">
          <button type="submit" [disabled]="this.form.invalid">Save</button>
          <button type="button" (click)="onCancelClicked()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</mat-card>
