<mat-card class="main-card full-height" fxLayout="column">
  <div cdkDropList [cdkDropListData]="sprintItems" (cdkDropListDropped)="drop($event)" class="drop-zone"
    [ngClass]="{'drop-zone': sprintItems.length === 0}" fxLayout="column" fxLayoutGap="15px"
    class="items-section full-height">
    <ng-container *ngFor="let item of sprintItems">
      <div class="full-width div-card" fxLayoutAlign="start start">
        <mat-card (mouseover)="toggleHover(item.id)" (mouseout)="removeHover()" class="mat-elevation-z0 sprint-item"
          fxFlex="0 1 calc(100%)" fxFlex.lt-md="0 1 calc(100%)" fxFlex.lt-sm="100%" cdkDrag
          (click)="onMatCardClicked(item.id)">
          <mat-card-content>
            <div fxLayout="row" fxLayoutGap="0.2rem">
              <div>
                <img width=20 *ngIf="item.type === 'Bug'" src="assets/img/bug.png" alt="alt_image">
                <img width=20 *ngIf="item.type === 'Task'" src="assets/img/administration.png" alt="alt_image">
                <img width=20 *ngIf="item.type === 'Feature'" src="assets/img/trophyy.png" alt="alt_image">
              </div>
              <div>
                <mat-card-title>{{ item.title }}</mat-card-title>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
    <div fxLayout="row" fxLayoutGap="0.7rem" fxLayoutAlign="center center" class="full-height">
      <img width=50 *ngIf="sprintItems.length === 0" src="assets/img/planning.png" alt="alt_image">
      <div fxLayout="column">
        <span *ngIf="sprintItems.length === 0" class="text-drop-zone"> Plan your sprint </span>
        <span *ngIf="sprintItems.length === 0" class="text-drop-zone"> As a team, agree on what needs to be completed,
          and drag these issues to
          the sprint </span>
      </div>
    </div>
  </div>
  <mat-card-actions fxLayoutAlign="end center">
    <button [disabled]="isActivateSprintBtnDisabled()" (click)="onActivateSprintClicked()"
      class="activate-sprint-bttn"><span
        [ngClass]="{'activate-sprint-text-disabled': isActivateSprintBtnDisabled(), 'activate-sprint-text': !isActivateSprintBtnDisabled()}"
        class="activate-sprint-text"><strong>Activate
          Sprint</strong></span></button>
  </mat-card-actions>
</mat-card>