<mat-card class="mat-elevation-z0 main-card">
  <div fxLayout="column" class="full-width full-height">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-card-title>
        <span>Plan Sprint</span>
      </mat-card-title>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="full-width full-height" fxLayoutAlign="center center">
      <div fxLayout="column">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" placeholder="Title" />
          <mat-error>
            {{ 'validation.fieldRequired' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Goal</mat-label>
          <input matInput formControlName="goal" />
          <mat-error>
            {{ 'validation.fieldRequired' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Choose Start Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="startDate" />
          <mat-error>
            {{ 'validation.fieldRequired' | translate }}
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Choose End Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="endDate" />
          <mat-error>
            {{ 'validation.fieldRequired' | translate }}
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <div fxLayoutAlign="end center" fxLayout="row" fxLayoutGap="0.1rem">
          <button type="submit" [disabled]="this.form.invalid" mat-button>
            <img width=23 src="assets/img/correct.png" matTooltip="Check fields"
              matTooltipDisabled="{{!this.form.invalid}}" alt="alt_image">
          </button>
          <button type="button" (click)="onCancelClicked()" mat-button>
            <img width=14 src="assets/img/cancel.png" alt="alt_image">
          </button>
        </div>
      </div>
    </form>
  </div>
</mat-card>