<div class="sidenav_container" class="full-height">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%">
    <div class="full-height" fxLayout="column">
      <mat-nav-list fxLayout="column" class="full-height">
        <div fxFlex="70">
          <button mat-list-item (click)="onDevboardClicked();onSinenavToggle()">
            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center">
              <img width=25 src="assets/img/dashboard.png" alt="alt_image">
              <span class="menu-text" [@animateText]="linkText ? 'show' : 'hide'">Devboard</span>
            </div>
          </button>
          <button mat-list-item (click)="onCurrentSprintClicked();onSinenavToggle()">
            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center">
              <img width=25 src="assets/img/agile.png" alt="alt_image">
              <span class="menu-text" [@animateText]="linkText ? 'show' : 'hide'">Current Sprint</span>
            </div>
          </button>
          <button *ngIf="this.isAdmin()" mat-list-item (click)="onTeamManagementClicked();onSinenavToggle()">
            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center">
              <img width=25 src="assets/img/team.png" alt="alt_image">
              <span class="menu-text" [@animateText]="linkText ? 'show' : 'hide'">Team Management</span>
            </div>
          </button>
        </div>
        <div fxFlex="30" fxLayoutAlign="center end">
          <button *ngIf="authService.isLoggedIn()" (click)="onLogout()" mat-list-item>
            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center">
              <img width=25 src="assets/img/logout1.png" alt="alt_image">
              <span class="menu-text" [@animateText]="linkText ? 'show' : 'hide'">{{ 'logout' | translate }}</span>
            </div>
          </button>
        </div>
      </mat-nav-list>
    </div>
  </div>
  <span class="spacer"></span>
</div>