<form #form="ngForm">
  <div class="container">
    <div id="username">
      <label for="uname">
        <strong>{{ 'username' | translate }}</strong>
      </label>
      <input type="text" [placeholder]="'username' | translate" name="uname" #uname="ngModel"
        [(ngModel)]="loginModel.username" required />
      <div *ngIf="uname.touched && uname.invalid">
        <div class="error" *ngIf="uname.errors?.required">
          {{ 'validation.fieldRequired' | translate }}
        </div>
      </div>
    </div>
    <div id="password">
      <label for="psw">
        <strong>{{ 'password' | translate }}</strong>
      </label>
      <input type="password" [placeholder]="'password' | translate" name="psw" #psw="ngModel"
        [(ngModel)]="loginModel.password" required />
      <div *ngIf="psw.touched && psw.invalid">
        <div class="error" *ngIf="psw.errors?.required">
          {{ 'passwordRequired' | translate }}
        </div>
      </div>
    </div>
    <button class="full-width" (click)="onLogin()" [disabled]="form.invalid || form.pristine">
      {{ 'login' | translate }}
    </button>
    <button class="full-width" (click)="onNavigateToRegister()">
      {{ 'register' | translate }}
    </button>
  </div>
</form>