<mat-card class="mat-elevation-z0 main-card">
  <div fxLayout="column" fxLayoutAlign="center center" class="full-width full-height">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="full-width full-height">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="introduction-section">
          <mat-card-title fxFlex="50">
            <span>Create Item</span>
          </mat-card-title>
          <div fxLayoutAlign="end center">
            <mat-form-field fxFlex="50">
              <div fxLayout="row" fxLayoutGap="0.3rem">
                <mat-label>State</mat-label>
                <input matInput formControlName="state" />
              </div>
              <mat-error>
                {{ 'validation.fieldRequired' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="content-section" fxLayout="column">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Title" />
            <mat-error>
              {{ 'validation.fieldRequired' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>EstimatedHours</mat-label>
            <input matInput formControlName="estimatedHours" />
            <mat-error *ngIf="formControlHasError(estimatedHours, 'required')">
              {{ 'validation.fieldRequired' | translate }}
            </mat-error>
            <mat-error *ngIf="formControlHasError(estimatedHours, 'pattern')">
              Only numbers allowed
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>EstimatedEffort</mat-label>
            <mat-select formControlName="effortType">
              <mat-select-trigger> {{ actualEffortType }}</mat-select-trigger>
              <mat-option *ngFor="let effortType of effortTypes" [value]="effortType">
                {{ effortType }}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ 'validation.fieldRequired' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="isEffortTypeSelected()">
            <mat-label>EffortValue - {{ actualEffortType }}</mat-label>
            <input matInput formControlName="estimatedEffort" />
            <mat-error *ngIf="formControlHasError(estimatedEffort, 'required')">
              {{ 'validation.fieldRequired' | translate }}
            </mat-error>
            <mat-error
              *ngIf="formControlHasError(estimatedEffort, 'pattern') && this.actualEffortType === 'Story Points'">
              Only numbers allowed
            </mat-error>
            <mat-error
              *ngIf="formControlHasError(estimatedEffort, 'pattern') && this.actualEffortType === 'T-shirt sizes'">
              Only letters allowed
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Priority</mat-label>
            <div fxLayout="row">
              <mat-select formControlName="priority">
                <mat-option *ngFor="let priority of priorities" [value]="priority">
                  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem" class="full-width">
                    <div>
                      <span>{{ priority }}</span>
                    </div>
                    <div fxLayoutAlign="start center">
                      <img width=20 *ngIf="priority === 'Low'" src="assets/img/low-priority.png" alt="alt_image">
                      <img width=20 *ngIf="priority === 'Medium'" src="assets/img/priority1.png" alt="alt_image">
                      <img width=20 *ngIf="priority === 'High'" src="assets/img/prioritize.png" alt="alt_image">
                    </div>
                  </div>
                </mat-option>
              </mat-select>
              <img width=20 *ngIf="this.priority.value === 'Low'" src="assets/img/low-priority.png" alt="alt_image">
              <img width=20 *ngIf="this.priority.value === 'Medium'" src="assets/img/priority1.png" alt="alt_image">
              <img width=20 *ngIf="this.priority.value === 'High'" src="assets/img/prioritize.png" alt="alt_image">
            </div>
            <mat-error>
              {{ 'validation.fieldRequired' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Type</mat-label>
            <div fxLayout="row">
              <mat-select formControlName="type">
                <mat-select-trigger> {{ actualItemType }}</mat-select-trigger>
                <mat-option *ngFor="let itemType of itemTypes" [value]="itemType">
                  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
                    <div>
                      {{ itemType }}
                    </div>
                    <div fxLayoutAlign="start center">
                      <img width=20 *ngIf=" itemType==='Bug'" src=" assets/img/bug.png" alt="alt_image">
                      <img width=20 *ngIf="itemType === 'Task'" src="assets/img/administration.png" alt="alt_image">
                      <img width=20 *ngIf="itemType === 'Feature'" src="assets/img/trophyy.png" alt="alt_image">
                    </div>
                  </div>
                </mat-option>
              </mat-select>
              <img width=20 *ngIf=" this.type.value==='Bug'" src=" assets/img/bug.png" alt="alt_image">
              <img width=20 *ngIf="this.type.value === 'Task'" src="assets/img/administration.png" alt="alt_image">
              <img width=20 *ngIf="this.type.value === 'Feature'" src="assets/img/trophyy.png" alt="alt_image">
            </div>
            <mat-error>
              {{ 'validation.fieldRequired' | translate }}
            </mat-error>
          </mat-form-field>
          <div fxLayoutAlign="end center" fxLayout="row" fxLayoutGap="0.1rem" fxFlex="7" class="actions-section">
            <button type="submit" [disabled]="this.form.invalid" mat-button fxLayoutAlign="end end">
              <img width=23 src="assets/img/correct.png" matTooltip="Check fields"
                matTooltipDisabled="{{!this.form.invalid}}" alt="alt_image">
            </button>
            <button type="button" (click)="onCancelClicked()" mat-button fxLayoutAlign="end end">
              <img fxLayoutAlign="end end" width=14 src="assets/img/cancel.png" alt="alt_image">
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</mat-card>