.main_content {
  width: 100%;
  height: calc(100vh - 100px);
  background: #efefef;
}

.mat-drawer-container {
  background-color: white !important;
}

.mat-drawer-content {
  overflow: hidden !important;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

mat-sidenav {
  background-color: #F6F5F5;
}


