<!-- Toolbar -->
<div fxLayout="column" class="full-height">
  <div class="toolbar" role="banner" fxFlex="5">
    <img width="60" src="assets/img/devefficient.png" alt="DevEfficient Logo" />
    <button *ngIf="this.authService.isLoggedIn()" mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="full-height" fxLayout="column" fxFlex="95">
    <div *ngIf="this.authService.isLoggedIn()" fxFlex="100">
      <mat-sidenav-container class="full-height custom-container" autosize>
        <mat-sidenav #leftSidenav mode="over" opened="{{this.onSideNavChange}}" position="start">
          <app-sidenav-responsive></app-sidenav-responsive>
        </mat-sidenav>
        <mat-sidenav-content>
          <div class="content full-height full-width" role="main" aria-labelledby="description">
            <router-outlet></router-outlet>
            <app-loading-spinner></app-loading-spinner>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>


    <!-- Content -->
    <div *ngIf="!this.authService.isLoggedIn()" class="content" role="main" fxLayoutAlign="center center" fxFlex="100"
      aria-labelledby="description">
      <router-outlet></router-outlet>
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>