.main_content {
  width: 100%;
  height: calc(100vh - 100px);
  background: #efefef;
}

.mat-drawer-container {
  background-color: #efefef !important;
}

.mat-drawer-content {
  overflow: hidden !important;
}
